.userInformation{
    width: 50%;
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
    border-radius: 16px;
}

.page-header {
    padding: 10px;
    color: rgb(0, 0, 0);
}
.userManipulation{
    margin-left: 1em;
    margin-bottom: 1em;
}