<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<div id="navBar">
    <img src="../../../assets/images/logo2.png" id="logo">
    <span>
        <a id = "indexLink" routerLink = "/">Home</a>
    </span>
    <span>
        <a *ngIf="isBuyer" id = "userLink" routerLink="user">User</a>
    </span>
    <span>
        <a *ngIf="isEmployee" id = "employeeLink" routerLink="employee">Employee</a>
    </span>
    <span>
        <a *ngIf="isManager" id = "managerLink" routerLink="manager">Manager</a>
    </span>
    <span>
        <a *ngIf="isAdmin" id = "adminLink" routerLink="admin">Admin</a>
    </span>
    <span>
        <a id = "inventoryLink" routerLink="inventory">Inventory</a>
    </span>
    <span>
        <a id = "aboutLink" routerLink="about">About</a>
    </span>
    <span>
        <a id = "loginLink" routerLink="login">Login</a>
    </span>
</div>



<router-outlet></router-outlet>