<div id="navBar">
    <h1 class="title"> Candy Warehouse Home Page </h1>
    <span>
        <a id = "indexLink" routerLink = "/">Home</a>
    </span>
    <span>
        <a id = "userLink" routerLink="user">User</a>
    </span>
    <span>
        <a id = "employeeLink" routerLink="employee">Employee</a>
    </span>
    <span>
        <a id = "managerLink" routerLink="manager">Manager</a>
    </span>
    <span>
        <a id = "adminLink" routerLink="admin">Admin</a>
    </span>
    <span>
        <a id = "inventoryLink" routerLink="inventory">Inventory</a>
    </span>
    <span>
        <a id = "loginLink" routerLink="login">Login</a>
    </span>
    <span>
        <a id = "aboutLink" routerLink="about">About Page</a>
    </span>
</div>

<router-outlet></router-outlet>