.viewButtons{
    margin-left: 1em;
}

fieldset {
    width: 50%;
    border: solid black;
    padding: 1em;
}

.page-header{
    margin-left:1em;
}

.card {
    width: 95%;
    margin: 1em;
    border-width: 2px;
    border-color: darkgray;
    padding: 1em;
}

