#showButton {
    margin: 0em 0.5em 0.5em 1em;
}

#editButton {
    margin: 0em 0.5em 0.5em 0.5em;
}

fieldset {
    width: 50%;
    margin: 5px 5px;
    padding: 1em;
}

.card {
    margin: 0.8em 1em 1em;
}

h1{
    color: darkslateblue;
    margin: 0.5em;
    text-align: center;
}

