<h1>Manager Page</h1>

<!-- Toggle the display-->
<button id="employeesButton" class="viewButtons" (click)="displayEmployees()" type="checkbox" >Show Employees</button>
<button id="itemButton" class="viewButtons" (click)="displayItems()" type="checkbox" >Show Items</button>
<button id="orderButton" class="viewButtons" (click)="displayOrders()" type="checkbox" >Show Orders</button>
<button id="addItemButton" class="viewButtons" *ngIf="showItems" (click)="addItemMenu()" type="checkbox" >Add Item</button>

<div *ngIf="showAddMenu">
    <fieldset>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Item Name: </span>
            <input id="itemNameInput" type="text" class="form-control" [(ngModel)]="itemName">
            <span class="input-group-text">Category: </span>
            <input id="itemCategoryInput" type="text" class="form-control" [(ngModel)]="itemCategory">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Price: </span>
            <input id="itemPriceInput" type="number" class="form-control" [(ngModel)]="itemPrice">
            <span class="input-group-text">Quantity: </span>
            <input id="itemQuantityInput" type="number" class="form-control" [(ngModel)]="itemQuantity">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Desciption: </span>
            <textarea id="itemDescriptionInput" type="text" class="form-control" rows=3 [(ngModel)]="itemDescription"></textarea>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Image Source: </span>
            <input id="itemImgSrcInput" type="text" class="form-control" [(ngModel)]="itemImgSrc">
        </div>

        <button id="submitButton" (click)="submitItem()">Submit Item</button>
    </fieldset>
      
</div>

<div *ngIf="showItems">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Item ID</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr class="userValue" *ngFor="let item of itemList">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.catagory}}</td>
                <td>{{item.price}}</td>
                <td>{{item.qty}}</td>
                <td>{{item.description}}</td>
            </tr>
        </tbody>
    </table>

</div>

<div *ngIf="showEmps">
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Address1</th>
                <th scope="col">Address2</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Zip</th>
                <th scope="col">Phone</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
            <tr class="userValue" *ngFor="let person of employeeList">
                <td>{{person.id}}</td>
                <td>{{person.firstname}} {{person.lastname}}</td>
                <td>{{person.email}}</td>
                <td>{{person.address1}}</td>
                <td>{{person.address2}}</td>
                <td>{{person.city}}</td>
                <td>{{person.state}}</td>
                <td>{{person.zip}}</td>
                <td>{{person.phone}}</td>
                <td>{{person.title}}</td>
            </tr>
        </tbody>
    </table>

</div>

<div *ngIf="showOrders">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Total Price</th>
                <th scope="col">Date Ordered</th>
                <th scope="col">Shipping Type</th>
                <th scope="col">Shipped</th>
            </tr>
        </thead>
        <tbody>
            <tr class="userValue" *ngFor="let order of orderList">
                <td>{{order.id}}</td>
                <td>{{order.totalPrice}}</td>
                <td>{{order.dateOrdered}}</td>
                <td>{{order.shippingType}}</td>
                <td>{{order.shipped}}</td>
            </tr>
        </tbody>
    </table>
</div>