<div class="about-section">
  <h1 id="abtTitle">About Us Page</h1>
  <p>Over 30 years of delivering quality candies from around the globe.</p>
  <p>For candy lovers and producers worldwide!</p>
</div>
  
<div class="row">
  <div class="column">
    <div class="card">
      <img class="abtImgs" src="../../../assets/images/pilesOfCandy.jpg" alt="Piles of Candy" style="width:100%">
      <div class="container">
        <h2 class="title">Our Purpose</h2>
        <p>We have cut out the middle man.</p>
        <p>Purchase high quality candies straight from the warehouse to you.
          Save money and save time by ordering from us!</p>
      </div>
    </div>
  </div>

  <div class="column">
   <div class="card">
      <img class="abtImgs" src="../../../assets/images/handshake.jpeg" alt="Handshake" style="width:100%">
      <div class="container">
          <h2 class="title">Our Clients</h2>
          <p>Have access to quick order and fast service.</p>
          <p>Just register using our quick no hassle form on this website!
            It does not matter if you're a single person or ordering for resale!
          </p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img class="abtImgs" src="../../../assets/images/contactus.jpeg" alt="Contact Icons" style="width:100%">
      <div class="container">
        <h2 class="title">Contact Us</h2>
        <p>Phone: (435)-213-0867</p>
        <p>Email: iWantCandy@candywh.org</p>
        <p>Address: <br>285 Tarkiln Hill Street
          Marlborough, MA 01752</p>
      </div>
    </div>
  </div>

  </div><br><br>