

<div id="loginInput" class="d-grid gap-3 col-6 mx-auto text-center">
    
    <div class="page-header">
        <h1 id="logTitle">Login</h1>
    </div>

    <div class="form-floating mb-3">
        <input [(ngModel)]="email" id="inputEmail" type="text" type="email" class="form-control" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input [(ngModel)]="password" id="inputPass" type="password" type="password" class="form-control" placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <a routerLink="/register">No account? Make one today!</a>
    <button (click)="login()" id="loginButton" class="btn-primary btn-lg">Log in</button>
    <button (click)="logout()" id="logoutButton" class="btn-dark btn-lg">Log out</button>
    <br>
    <label id="loginResult" style="color: black">{{responseMessage}}</label>

</div>