#loginInput {
    text-align: center;
    width: 350px;
}

.page-header {
    padding: 10px;
    text-align: center;
    color: black;
    margin-bottom: 1em;
}

/* #loginButton{
    color: #444444;
    background: #a8fda8;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
} */

#loginButton:hover{
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #5afa5ad7;
}

/* #logoutButton{
    color: #444444;
    background: lightgray;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
} */

#logoutButton:hover{
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: gray;
}

#logTitle{
    color: darkslateblue;
    margin: 0.5em;
    text-align: center;
}