

<div id="loginInput" class="d-grid gap-3 col-6 mx-auto text-center">
    
    <input [(ngModel)]="email" id="inputEmail" type="text" class="form-control" placeholder="Email">
    <br>
    <input [(ngModel)]="password" id="inputPass" type="password" class="form-control" placeholder="Password">
    <br>
    <a *ngIf="notLoggedIn" routerLink="/register">No account? Make one today!</a>
    <button (click)="login()" id="loginButton" class="btn-primary btn-lg" style="box-shadow: 0px 2px 2px 0px; width: 200px; margin-left: 20%;">Log in</button>
    <br>
    <button (click)="logout()" id="logoutButton" class="btn-dark btn-lg" style="box-shadow: 0px 2px 2px 0px; width: 200px; margin-left: 20%;">Log out</button>
    <br>
    <label id="loginResult" style="color: red">{{responseMessage}}</label>

</div>