<div class="admin-header">
    <h1>Admin Page</h1>
</div>

<h2 style="margin-left: 0.5em;">User List</h2>
<div style="margin-left: 1em;" id="tableControls">
    <input class="nameInputs" type="text" placeholder="First Name" [(ngModel)]="fnameInput">
    <input class="nameInputs" type="text" placeholder="Last Name" [(ngModel)]="lnameInput">
    <button (click)="searchByName()">Search</button>
    <br>
    <input class="nameInputs" type="text" placeholder="Search by Email" [(ngModel)]="emailInput">
    <button (click)="searchByEmail()">Search</button>
</div>

<div id="userTable">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Address1</th>
                <th scope="col">Address2</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Zip</th>
                <th scope="col">Phone</th>
                <th scope="col">Role</th>
            </tr>
        </thead>
        <tbody>
            <tr class="userValue" *ngFor="let person of userList" routerLink="/editUser/{{person.id}}">
                <td>{{person.id}}</td>
                <td>{{person.firstname}} {{person.lastname}}</td>
                <td>{{person.email}}</td>
                <td>{{person.address1}}</td>
                <td>{{person.address2}}</td>
                <td>{{person.city}}</td>
                <td>{{person.state}}</td>
                <td>{{person.zip}}</td>
                <td>{{person.phone}}</td>
                <td>{{person.title}}</td>
            </tr>
        </tbody>
    </table>
</div>