<div class="card">
    <img id="wallpaper" src="../../../assets/images/welcome_yell.png" alt="candy banner">
</div>

<div id="home-card" class="card">
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">See what candies we have</h5>
          <p class="card-text">Choose from a variety of candy categories, all of them guaranteed to satisfy!</p>
          <a routerLink="/inventory" class="btn btn-warning">Go to Inventory</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Learn More About Us</h5>
          <p class="card-text">We pride ourselves on delivering the highest quality candies to all our customers.</p>
          <a routerLink="/about" class="btn btn-warning">Go to About</a>
        </div>
      </div>
    </div>
  </div>
</div>