
<div class="grid-container" *ngIf="display2">
    <div class="grid" (click) = "onPress('chocolate')"><h2>chocolate</h2><img src="../../../assets/images/twix.jpeg" class="im"></div>
    <div class="grid" (click) = "onPress('gummies')"><h2>gummies</h2><img src="../../../assets/images/gummy_bears.jpeg" class="im"></div>
    <div class="grid" (click) = "onPress('hard candies')"><h2>hard candies</h2><img src="../../../assets/images/jolly_ranchers.jpeg" class="im"></div>
    <div class="grid" (click) = "onPress('lollipops')"><h2>lollipops</h2><img src="../../../assets/images/blow_pops.jpeg" class="im"></div>
    <div class="grid" (click) = "onPress('licorice')"><h2>licorice</h2><img src="../../../assets/images/twizzlers.jpeg" class="im"></div>
    <div class="grid" (click) = "onPress('bubble gum')"><h2>bubble gum</h2><img src="../../../assets/images/dbgum.jpeg" class="im"></div>
    </div>

<div *ngIf="display">
    <h1 style="text-align: center; margin-top: 15px;">Order now</h1>
    <hr>
    <div id="cont">
    <div  (click)= "onPress2()" id="backdiv">
    <img src="../../../assets/images/clipart4237996.png" id="back">
    <a class="aa">  back to categories</a>
    </div>
    <div (click)= "compute()" id="checkout">
    <img src="../../../assets/images/cart.png" id="cart">
    <a class="aa">   view cart</a>
    </div>
</div>
    <hr>
    <div class="grid-container">
        <div *ngFor="let item2 of itemList2; let i = index" [attr.data-index]="i" class="grid">
            <h2>{{item2.name}}</h2>
            <img src={{item2.imgSrc}} class="im">
            <input type="number" [(ngModel)]="value[i]" class="input">
            <button *ngIf="value[i]>0" (click)="submitItem(itemList2[i].name, i, true)" class="btn2">Add Item(s)</button>
            <p *ngIf="show[i]">Item(s) Added to Cart</p>

        </div>
    </div>


</div>  


<div *ngIf="display3">
<h1 style="text-align: center; margin-top: 15px;">Order now</h1>
<hr>

<div class="container">
    <div class="row row-cols-2">
        <div class="col">

            <div id="inventory" class="table table-info table-bordered">
                <h2 style="padding: 10px;">Your Shopping Cart Contains:</h2>
                <table style="width: 100%;">
                    <tr>
                        <th>Candy Name</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Price Each</th>
                        <th>Items Total</th>
                    </tr>
                    <tr *ngFor="let item of itemList">
                        <td>{{item.id}}</td>
                        <td>{{item.catagory}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.qty}}</td> 
                    </tr>
                </table>

            </div>
       

        </div>
    </div>
</div>
</div>
