
#inventory{
  text-align: justify;
  padding-right: 25%;
}

#cart{
  text-align: justify;
  padding-left: 25%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #ffffff;
  padding: 10px;
}
.grid {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
#back {
  width: 50px;
  padding-left: 20px;
}

.im{
  width: 300px;
  margin-left: 1em;
}

.btn2{
font-size: small;
text-align: center;
}

.input{
width: 20%;
display: block;
margin-right: auto;
margin-left: auto;
}

#checkout{
float: right;
padding-right: 20px;
}

#backdiv{
float: left;
}

#order{
  margin:0 auto;
  padding-right: 200px;
  color: darkslateblue;
}

#order2{
  margin:0 auto;
  padding-left: 150px;
  color: darkslateblue;
}

#yourcart{
  margin:0 auto;
  padding-right: 200px;
}

#cont{
width: 100%;
text-align: center;
}

#cart{
width: 70px;
}

a:hover{
color: blueviolet;
text-decoration: underline;
}

.aa{
text-decoration: none;
color: black;
}

#cart2{
  width: 40px;
}

#checkout2{
  position: relative;
  display: inline;
  float: right;
  padding-right: 20px; 
}

.delete{
  width: 40px;
}

.center{
text-align: center;
}

#center{
  text-align: center;
}

.container{
  text-align: center;
}

.des{
  font-size: small;
}

.desdiv{
  height: 15%;
  margin-top: 0.3em;
}

h2{
  color: slateblue;
  margin-top: 0.15em;
}

.card {
  border: 1px solid rgba(192, 192, 192, 0.8);
  margin: 0.25em;
}

.order h1 {
  color: darkslateblue;
  margin: 0.5em;
  text-align: center;
}
